

*{
  margin: 0;
  padding:0;
}

body{
  overflow-y:hidden;
  overflow-x:hidden;
  margin: 0;
  padding:0;

}



.col-lg-6{
  float: left;
  width: 50%;
  background: #141720;
  height: 100%;
  position: relative;
  min-height: 680px;
  color: white;
  padding: 0;

}



.custom-col-lg-6{
  float: right;
  width: 50%;
  background: #f5f5f7;
  height: 100%;
  position: relative;
  min-height: 680px;
  padding: 0;

}


.about-content {
  position: relative;
  height: 100%!important;
  min-height: 100%!important;
  left: 0;
  background: #141720;
  color: white;
  float: left
}



.image-content {
  float: right;
  position: relative;
  height: 100%;
  min-height: 100%;
  right: 0;
}

.text-line {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding: 3px 10px;
  width: 400px;
}



textarea {
  resize: none;
}

.container {
  position: relative;
  width: 408px;
  height: 100px;
  padding: 0;
}

button {
  position: absolute;
  top: 36px;
  right: 3px;
  width: 160px;
  background: rgb(199, 19, 31);
  color: #fff;

}

textarea {
  position: relative;
  border: none;
  width: 232px;
  height: 95px;
  resize: none;
  outline: none;
}

.btn-round-lg {
  border-radius: 22.5px;
}

.btn-round {
  border-radius: 17px;
}




.col-lg-6{
  float: left;
  width: 50%;
  background: #141720;
  height: 100%;
  position: relative;
  min-height: 780px;
  color: white;
}



.custom-col-lg-6{
  float: right;
  width: 50%;
  background: #f5f5f7;
  height: 100%;
  position: relative;
  min-height: 780px;
}

.about-content{
  height:370px;
  background: rgb(3, 3, 3);
  color: white;
}

.hiring-content{
  height:420px;
  background: rgb(3, 3, 3);
  color: white;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}


.col-lg-6{
  float: left;
  width: 50%;
  background: #141720;
  height: 100%;
  position: relative;
  min-height: 780px;
  color: white;
}



.custom-col-lg-6{
  float: right;
  width: 50%;
  background: #f5f5f7;
  height: 100%;
  position: relative;
  min-height: 780px;
}